    html, body {
        background-color: #fff;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh; <!-- viewport height-->
        margin: 0;
        background-image: url('../pics/coffee_shop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .contents th {
        text-align: center;
        color: red;
    }
    tr {
        color: black;
        font-size: 25px;
    }
    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 100px;
        font-family: 'Sedgwick Ave Display', cursive;
    }

    .links > a {
        font-family: 'Libre Barcode 39 Text', cursive;
        color: white;
        padding: 0 25px;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
